.nav-color {
    background: #BBAC77
}

/* bg contact */
#hero {
    background-image: url("/img/bg.png");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background: #BBAC77;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
